/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html, body {
    padding: 0;
    margin: 0;
    background-image: url(../img/bg.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
	font-family: 'Bree Serif', serif;
	font-weight: normal;
}

h1 {
	font-size: 5rem;
	line-height: 5.5rem;
	padding-top: 20px;
}

.row {
	position: relative;
}


/*
	Placeholder
*/
.sb-placeholder {
	position: absolute;
	background-color: rgba(226, 0, 26, 0.34);
	border-radius: 10px;
}
/*
	Placeholder
*/


/*
	Layout
*/
#header  {
	text-align: center;
	font-family: 'Bree Serif', serif;
}

#header a {
	color: #000;
}

section {
	background-color: #ffffff;
	padding: 30px 0;
	min-height: 250px;
}

section:nth-child(2n) {
	background-color: rgba(173, 227, 255, 0.75);
}

section:last-child {
	padding-bottom: 70px;
}
/*
	Layout
*/



/*
	Button
*/
.button {
	border-radius: 10px;
}


.button.absolute1 {
	position: absolute;
	z-index: 1;
}

.button.absolute2 {
	position: absolute;
	top: 50px;
	left: 80px;
}
/*
	Button
*/




/*
	DIV
*/
#div {
	width: 50%;
	margin: 0 auto;
	background-color: #fff;
	padding: 10px;
}
/*
	DIV
*/


/*
	Social
*/
.social-buttons {
	text-align: center;
	padding-top: 30px;
}

.social-button {
	background-color: #008CBA;
	border-radius: 200px;
	display: inline-block;
	color: #fff;
	height: 70px;
	width: 70px;
	text-align: center;
	line-height: 70px;
	font-size: 2rem;
	margin: 0 30px;
	transition:background-color 0.3s;
}

.social-button:hover {
	background-color: #007095;
	color: #fff;
}

.social-button i {
	transition:transform .8s;
}
.social-button:hover i {
	transform: scale(1.4);
}

.social-button-placeholder {
	background-color: #e6e6e6;
	border-radius: 200px;
	-webkit-box-shadow: inset 2px 2px 5px 1px rgba(199,199,199,1);
	-moz-box-shadow: inset 2px 2px 5px 1px rgba(199,199,199,1);
	box-shadow: inset 2px 2px 5px 1px rgba(199,199,199,1);
}
/*
	Social
*/














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.hidden {
    display: none !important;
    visibility: hidden;
}


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


.invisible {
    visibility: hidden;
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}